.burger {
    display: inline-flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background-color: var(--color-burger);
    transition: all var(--animation);

    &:hover,
    &:focus {
        background-color: var(--color-accent);

    }
}