.button {
    display: inline-flex;
    height: 40px;
    padding: 4px 4px 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 500px;
    border: 1px solid var(--color-accent);
    color: var(--color-text, #173d33);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.64px;
    transition: color var(--animation), background-color var(--animation), border var(--animation);

    &:hover {
        border: 1px solid var(--color-text);
        color: var(--color-accent);
        background-color: var(--color-text, #173d33);
    }
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--color-text, #173d33);
    background-color: var(--color-accent);

}