:root {
  --font-primary: "FiraSans", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  /* colors */
  --background-color-primary: #f3f5fa;
  --background-color-secondary: #EAEDF1;

  --color-primary: #173d33;
  --color-accent: #97D28B;
  --color-text: #173d33;
  --color-burger: #DCEFD8;
  --color-white: #fff;



  /* animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* shadow */
  /* --shadow-primary: 2px 4px 9px 0px rgba(166, 141, 174, 0.28); */
}