.logo {
    display: flex;
    align-items: last baseline;
    gap: 4px;
    text-decoration: none;
}

.logoName {
    color: var(--color-primary);
    font-family: 'All Round Gothic Thick';
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.32px;
    transition: color var(--animation);

    &:hover {
        color: var(--color-accent);
    }
}

.tagline {
    width: 60px;
    color: var(--color-primary);
    font-family: 'CA Saygon Text';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: -0.4px;
}

.accentText {
    color: var(--color-accent);
}