@import '@/styles/breakpoints';

@include breakpoint(tablet) {}

@include breakpoint(desktop) {}

.after_text {
    color: var(--color-text);
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

.buttonLink_wrap {
    margin: 0 auto;
}

.container_faq {
    @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 24px;
    }

    @include breakpoint(desktop) {
        gap: 48px;
    }

}

.ul_container {
    grid-column: 1;
    grid-row: 1 / 3;
}

.title_faq {
    grid-column: 2;
    grid-row: 1;
}

.cta {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    margin-top: 20px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.after_text {
    margin-bottom: 12px;
}

.buttonLink {
    display: flex;
    max-width: 130px;
    margin: 0 auto;
}