@import '@/styles/breakpoints';

.section-contacts {
    padding-bottom: 36px;

    @include breakpoint(tablet) {
        padding-bottom: 100px;
    }

    @include breakpoint(desktop) {
        padding-bottom: 120px;
    }
}

.contacts-title {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;

    @include breakpoint(tablet) {
        margin-bottom: 40px;
    }

    @include breakpoint(desktop) {
        margin-bottom: 120px;
    }
}

.contacts-main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;

    @include breakpoint(tablet) {
        flex-direction: row;
        justify-content: space-between;
    }


}

.contacts-info {
    font-size: 16px;
    font-style: normal;
    letter-spacing: -0.64px;

    display: flex;
    flex-direction: column;
    gap: 24px;

}

.line-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        cursor: pointer;
    }

    &:hover>svg {
        color: var(--color-accent);
        transition: color var(--animation);
    }

    & span,
    & a {
        font-size: 20px;
        font-style: normal;
        letter-spacing: -0.8px;
        max-width: 216px;

        @include breakpoint(desktop) {
            font-size: 24px;
            letter-spacing: -0.96px;
            max-width: initial;
        }
    }
}

.block-wrap {
    .line-wrapper:not(:last-child):nth-child(n+2) {
        margin-bottom: 12px;
    }

    &>span {
        display: inline-block;
        margin-bottom: 8px;

        @include breakpoint(desktop) {
            margin-bottom: 16px;
        }
    }

}

.social-icons-wrapper {
    display: flex;
    gap: 32px;
    padding-left: 12px;

    & a:hover>svg {
        cursor: pointer;
        color: var(--color-accent);
        transition: color var(--animation);
    }

    @include breakpoint(desktop) {
        gap: 8px;
        padding-left: 0;
    }
}

.form-wrapper {
    padding: 36px 12px;
    background-color: var(--background-color-secondary);
    width: 100%;

    @include breakpoint(tablet) {
        max-width: 342px;
    }

    @include breakpoint(desktop) {
        max-width: 596px;
    }
}